

<div id="seats">
  
  
  <div class="row">
    <input id="seat0-0" type="checkbox">
      A<label for="seat0-0"></label>
    <input id="seat0-1" type="checkbox">
      <label for="seat0-1"></label>
    <input id="seat0-2" type="checkbox">
      <label for="seat0-2"></label>
    <input id="seat0-3" type="checkbox">
      <label for="seat0-3"></label>
  </div>

   <div class="row">
    <input id="seat1-0" type="checkbox">
      B<label for="seat1-0"></label>
    <input id="seat1-1" type="checkbox">
      <label for="seat1-1"></label>
    <input id="seat1-2" type="checkbox">
      <label for="seat1-2"></label>
    <input id="seat1-3" type="checkbox">
      <label for="seat1-3"></label>
  </div>





   <div class="row">
    <input id="seat2-0" type="checkbox">
      C<label for="seat2-0"></label>
    <input id="seat2-1" type="checkbox">
      <label for="seat2-1"></label>
    <input id="seat2-2" type="checkbox">
      <label for="seat2-2"></label>
    <input id="seat2-3" type="checkbox">
      <label for="seat2-3"></label>
  </div>

   <div class="row">
    <input id="seat3-0" type="checkbox">
      D<label for="seat3-0"></label>
    <input id="seat3-1" type="checkbox">
      <label for="seat3-1"></label>
    <input id="seat3-2" type="checkbox">
      <label for="seat3-2"></label>
    <input id="seat3-3" type="checkbox">
      <label for="seat3-3"></label>
  </div>
</div>
